<html>
	<head>
		<script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
	</head>
	<body>
		
	<script type="text/javascript">

		var accessToken = getAccessTokeFromCookie('Access-Token');
		if (accessToken.length > 1){
			console.log("starting app");
			//window.authToken = accessToken;
			startApp();
			
		}else{
			console.log("showing login form");
			displayLoginForm();
		}
		
		
		
		function displayLoginForm(){
			$("body").empty();
			var loginForm = $("<form>").attr("id", "login-form");
			loginForm.append($("<input>").attr("type","text").attr("id","emailOrUserName").attr("name","emailOrUserName").attr("placeholder","Email/Username"));
			loginForm.append($("<br>"));
			loginForm.append($("<input>").attr("type","text").attr("id","password").attr("name","password").attr("placeholder","password"));
			loginForm.append($("<br>"));
			loginForm.append($("<input>").attr("type","submit").val("Login"));
			loginForm.submit(function(event){
				event.preventDefault();
				var emailOrUserName = $("#emailOrUserName").val();
				var password = $("#password").val();
				
	
				$.ajax({
					type: "POST",
					url: "/auth/login",
					data:{emailOrUserName:emailOrUserName, 
						  password:password},
					success:function(authCode){
						var atRequest = "/auth/accessToken?authCode="+authCode; 
						$.ajax({
							type: "GET",
							url: atRequest,
							dataType: "json",
							success: function(response, status, xhr){
								accessToken = xhr.getResponseHeader('X-ACCESS-TOKEN');
								startApp();
								
							},
							error: function(response){
								
							}
						});
					},
					error: function(response){
						console.log(response);
						
					}
				});
				
			});
			$("body").append(loginForm);
			var signupLink = $("<a>").attr("href","assets/signup.html").text("Register");
			$("body").append(signupLink);
		}
		
		function startApp(){
			$("body").empty();
			var welcome = "<h1>You have been logged in!</h1>";
			$("body").append(welcome);
			var logout = $("<button>").text("Logout").click(function(){
				$.ajax({
					url:"/auth/logout",
					type: "GET",
					headers: {'X-ACCESS-TOKEN': accessToken},
					beforeSend: function(request){
					},
					success: function(response){
						$("body").empty();
						displayLoginForm();
					},
					error: function(response){
						console.log(response);
					}
				});
			});
			$("body").append(logout);
			//TODO: complete
		}
		
	
		function getAccessTokeFromCookie(name){
			var value = "; " + document.cookie;
			var parts = value.split("; "+ name + "=");
			if(parts.length == 2)
				var cookieJson = jQuery.parseJSON(JSON.parse(parts.pop().split(";").shift()));
				if(cookieJson != undefined){
					return cookieJson.token;	
				}
				return '';
		}
		
	</script>
	
	</body>
</html>
	
